ul {
                font-family: Arial;
                list-style-type: none;
            }

            #success {
                display: none;
                font-family: Arial;
                color: green;
                margin-left: 85px;
                font-size: 14px;
            }

            input[type=text] {
                padding: 5px;
                box-shadow: inset 0 0 5px #eee;
                border: 1px solid #eee;
            }

            input[type=submit] {
                padding: 3px 8px;
                background: #eee;
                margin-left: 85px;
                cursor: pointer;
                border: 1px solid #aaa;
                font-size: 12px;
            }

            .throw_error {
                color:tomato;
                font-size: 12px;
                display: none;
            }

            label {
                font-size: 13px;
            }